body {
    direction: ltr;
    text-align: left;
}

.mdi-chevron-left::before,
.mdi-chevron-right::before,
.megadrop.row .h5::after,
header.main-header
    .main-menu
    .list
    > .list-item-has-children.menu-col-1
    .list-item-has-children::before {
    transform: rotate(180deg) !important;
}

.fancybox-is-hidden {
    right: -9999px;
    left: auto;
}

.fancybox-container {
    right: 0;
    left: auto;
}

.fancybox-bg,
.fancybox-inner,
.fancybox-outer,
.fancybox-stage {
    right: 0;
    left: 0;
}

.fancybox-caption,
.fancybox-infobar,
.fancybox-navigation .fancybox-button,
.fancybox-toolbar {
    direction: rtl;
}

.fancybox-infobar {
    right: 0;
    left: auto;
}

.fancybox-toolbar {
    left: 0;
    right: auto;
}

.fancybox-stage {
    direction: rtl;
}

.fancybox-slide {
    right: 0;
    left: auto;
}

.fancybox-content {
    text-align: right;
}

.fancybox-slide--image .fancybox-content {
    right: 0;
    left: auto;
}

.fancybox-image,
.fancybox-spaceball {
    right: 0;
    left: auto;
}

.fancybox-iframe {
    right: 0;
    left: auto;
}

.fancybox-progress {
    right: 0;
    left: 0;
}

.fancybox-close-small {
    left: -12px;
    right: auto;
}

.fancybox-slide--html .fancybox-close-small {
    left: 0;
    right: auto;
}

.fancybox-navigation .fancybox-button--arrow_left {
    right: env(safe-area-inset-left);
    left: auto;
    padding: 31px 6px 31px 26px;
}

.fancybox-navigation .fancybox-button--arrow_right {
    padding: 31px 26px 31px 6px;
    left: env(safe-area-inset-right);
    right: auto;
}

.fancybox-caption {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.85) 0,
        rgba(0, 0, 0, 0.3) 50% 65%,
        rgba(0, 0, 0, 0.075) 75.5%,
        rgba(0, 0, 0, 0.037) 82.85%,
        rgba(0, 0, 0, 0.019) 88%,
        transparent
    );
    right: 0;
    left: 0;
}

@supports (padding: max(0px)) {
    .fancybox-caption {
        padding: 75px max(44px, env(safe-area-inset-left))
            max(25px, env(safe-area-inset-bottom))
            max(44px, env(safe-area-inset-right));
    }
}

.fancybox-loading {
    right: 50%;
    left: auto;
    margin: -25px -25px 0 0;
}

@media (max-height: 576px) {
    .fancybox-slide {
        padding-right: 6px;
        padding-left: 6px;
    }
    .fancybox-close-small {
        left: -6px;
        right: auto;
    }
    .fancybox-slide--image .fancybox-close-small {
        left: 0;
        right: auto;
    }
    .fancybox-caption {
        padding-right: 12px;
        padding-left: 12px;
    }
}

.fancybox-share__button svg {
    margin-left: 7px;
    margin-right: auto;
}

.fancybox-thumbs {
    left: 0;
    right: auto;
}

.fancybox-show-thumbs .fancybox-inner {
    left: 212px;
    right: auto;
}

.fancybox-thumbs__list a {
    background-position: 50%;
    float: right;
}

.fancybox-thumbs__list a:before {
    right: 0;
    left: 0;
}

@media (max-width: 576px) {
    .fancybox-show-thumbs .fancybox-inner {
        left: 110px;
        right: auto;
    }
}

.ah-tab::before {
    left: -100%;
    right: auto;
    background: linear-gradient(
        to left rgba(255, 255, 255, 0) 100% rgba(255, 255, 255, 1) 70%,
        rgba(255, 255, 255, 1) 99%
    );
}

.ah-tab::after {
    right: 100%;
    left: auto;
    background: linear-gradient(
        to right rgba(255, 255, 255, 0) 100% rgba(255, 255, 255, 1) 40%,
        rgba(255, 255, 255, 1) 99%
    );
}

.ah-tab-overflow-left::before {
    left: 0;
    right: auto;
}

.ah-tab-overflow-right::after {
    right: 0;
    left: auto;
    transform: rotate(180deg);
}

.ah-tab-overflow-wrapper {
    right: 100%;
    left: auto;
}

.ah-tab-overflow-wrapper[data-ah-tab-active='true'] {
    right: 0;
    left: auto;
}

.ah-tab-overflow-list {
    right: 0;
    left: auto;
    text-align: left;
}

.ah-tab-overflow-list::after {
    right: 14px;
    left: auto;
}

.ah-tab-overflow-list::before {
    right: 13px;
    left: auto;
}

.ah-tab-overflow-list > .ah-tab-item {
    border-left: 3px solid transparent;
    border-right: none;
}

.ah-tab-overflow-list > .ah-tab-item:hover {
    border-left-color: #000;
    border-right-color: unset;
}

.ah-tab-overflow-list > .ah-tab-item[data-ah-tab-active='true'] {
    border-left: 3px solid #000 !important;
    border-right: none;
}

body {
    text-align: left;
}

.dt-sl {
    float: left;
}

.bs-tooltip-auto[x-placement^='right'] .arrow::before,
.bs-tooltip-right .arrow::before {
    border-left-color: #fff;
    border-right-color: unset;
}

.bs-tooltip-auto[x-placement^='left'] .arrow::before,
.bs-tooltip-left .arrow::before {
    border-right-color: #fff;
    border-left-color: unset;
}

.custom-control-label {
    padding-left: 30px;
    padding-right: 0;
}

.custom-control-label::before {
    left: 0;
    right: auto;
}

.custom-control-label::after {
    left: 0;
    right: auto;
}

.btn-primary-cm.btn-with-icon {
    padding-left: 50px;
    padding-right: 5px;
}

.btn-primary-cm.btn-with-icon.w-100 {
    padding-left: 0;
}

.btn-primary-cm.btn-with-icon::before {
    left: 0;
    right: auto;
    border-radius: 0 60px 60px 0;
}

.btn-primary-cm.btn-with-icon img {
    left: 10px;
    right: auto;
}

.btn-primary-cm.btn-with-icon i {
    left: 10px;
    right: auto;
}

.dir-rtl {
    direction: ltr;
}

.dir-ltr {
    direction: rtl;
}

.wrapper {
    direction: ltr;
}

header.main-header .ads-header {
    background-position: 50%;
}

header.main-header .search-area form.search button {
    right: 0;
    left: auto;
    border-radius: 0 7px 7px 0;
}

header.main-header .search-area form.search .close-search-result {
    right: 60px;
    left: auto;
}

header.main-header .search-area form.search .search-result {
    left: 0;
    right: 0;
    border-radius: 0 0 10px 10px;
}

header.main-header .nav-link span.label-dropdown {
    float: left;
    margin: 1px 10px 0 0;
}

header.main-header .nav-link span.count {
    right: 15px;
    left: auto;
}

header.main-header .dropdown-menu {
    direction: ltr;
    text-align: left;
}

header.main-header .dropdown-menu.cart button.remove {
    right: 10px;
    left: auto;
}

header.main-header .dropdown-menu.cart button.remove i {
    margin-right: unset;
    margin-left: auto;
}

header.main-header .dropdown-menu .dropdown-item i {
    float: left;
    margin-right: 12px;
    margin-left: auto;
}

header.main-header .search-box input {
    padding-left: 20px;
    padding-right: 0;
}

header.main-header .search-box form i {
    right: 10px;
    left: auto;
}

header.main-header .main-menu {
    float: left;
}

header.main-header .main-menu .list {
    padding-left: 0;
}

header.main-header .main-menu .list .list-item:not(:last-child) {
    margin-left: 0.5rem;
    margin-right: auto;
}

header.main-header .main-menu .list .list-item:first-child {
    margin-left: 0;
}

header.main-header .main-menu .list > .list-item {
    margin-left: 0;
}

header.main-header .main-menu .list > .list-item > a::before {
    right: 0;
    left: 0;
}

header.main-header .main-menu .list > .list-item-has-children > a::after {
    right: -8px;
    left: auto;
}

header.main-header .main-menu .list .list-item-has-children .sub-menu {
    left: 0;
    right: auto;
}

header.main-header
    .main-menu
    .list
    > .list-item-has-children.menu-col-1
    .list-item-has-children::before {
    right: 5px;
    left: auto;
}

header.main-header .main-menu .list .list-item-has-children .sub-menu li {
    margin-left: 0;
}

header.main-header .main-menu .list .list-item-has-children .sub-menu a i {
    float: left;
    margin: 2px 6px 2px 0;
}

header.main-header .main-menu .list .list-item.mega-menu > .sub-menu.nav {
    border-radius: 0 0 10px 10px;
}

header.main-header .main-menu .list .list-item.mega-menu > .sub-menu > li {
    float: left;
    padding-left: 15px;
    padding-right: 0;
}

header.main-header .main-menu .list .list-item.menu-col-1 .sub-menu {
    border-radius: 0 0 10px 10px;
}

header.main-header
    .main-menu
    .list
    .list-item.menu-col-1
    .sub-menu
    li:first-child
    > a {
    border-radius: 10px 10px 0 0;
}

header.main-header
    .main-menu
    .list
    .list-item.menu-col-1
    .sub-menu
    li:last-child
    > a {
    border-radius: 0 0 10px 10px;
}

header.main-header
    .main-menu
    .list
    .list-item.menu-col-1
    .sub-menu
    li
    > a
    > li:last-child
    > a {
    border-radius: 0 0 10px 10px;
}

header.main-header .main-menu .list .list-item.mega-menu img {
    right: 0px;
    left: auto;
    border-radius: 0 0 10px 0;
}

header.main-header .main-menu .list .list-item.mega-menu > .sub-menu > li > a {
    padding-left: 10px;
    padding-right: 10px;
}

header.main-header .main-menu .list .list-item.mega-menu .sub-menu .sub-menu {
    background: right 0 !important;
}

header.main-header
    .main-menu
    .list
    .list-item-has-children
    .sub-menu
    .sub-menu {
    left: 100%;
    right: auto;
}

header.main-header .side-menu {
    left: -260px;
    right: auto;
}

button.btn-menu {
    left: 6px;
    right: auto;
}

button.btn-menu .align {
    margin-left: 35px;
    margin-right: auto;
}

button.btn-menu .align__justify {
    margin-left: 0;
}

header.main-header .side-menu.open {
    left: 0;
    right: auto;
}

header.main-header .side-menu .search-box-side-menu input {
    padding-left: 20px;
    padding-right: 0;
}

header.main-header .side-menu .search-box-side-menu form i {
    right: 15px;
    left: auto;
}

header.main-header .side-menu > ul li {
    float: left;
}

header.main-header .side-menu ul ul {
    direction: rtl;
    float: left;
}

header.main-header .side-menu ul > li > ul > li::before {
    left: 20px;
    right: auto;
}

header.main-header .side-menu ul ul ul {
    padding-left: 20px;
    padding-right: 0;
}

header.main-header .side-menu ul > li.sub-menu > a::after {
    right: 10px;
    left: auto;
}

header.main-header .overlay-side-menu {
    left: 0;
    right: auto;
}

.sidebar-banner {
    background: right 0;
    margin: 2px 0 15px 0;
}

.main-slider .carousel-indicators li {
    margin-left: 6px;
    margin-right: 6px;
}

.main-slider .carousel-control-next {
    right: 0;
    left: auto;
}

.main-slider .carousel-control-prev {
    left: 0;
    right: auto;
}

.main-slider-slide {
    background-position: 50%;
}

.category-section-slider .category-slider .item h6::before {
    margin-right: 2px;
    margin-left: auto;
}

.category-section-slider .owl-carousel .owl-nav .owl-prev {
    left: -20px;
    right: auto;
}

.category-section-slider .owl-carousel .owl-nav .owl-next {
    right: -20px;
    left: auto;
}

.brand-slider .owl-nav button.owl-next {
    right: -15px;
    left: auto;
}

.brand-slider .owl-nav button.owl-prev {
    left: -15px;
    right: auto;
}

.title-wide::after {
    right: 0;
    left: auto;
}

.title-wide h2 {
    padding-left: 40px;
    padding-right: 10px;
}

.title-wide h2:before {
    background: url(../img/theme/title-circles.png) right no-repeat;
    left: -12px;
    right: auto;
    margin-left: 13px;
    margin-right: auto;
}

.no-title-wide-before h2 {
    padding-left: 10px;
    padding-right: 0;
}

.title-wide a {
    float: right;
}

.title-wide a::before {
    right: -28px;
    left: auto;
}

.product-carousel .owl-nav button.owl-next {
    right: -15px;
    left: auto;
}

.product-carousel .owl-nav button.owl-prev {
    left: -15px;
    right: auto;
}

.rating-stars i {
    margin-right: -7px;
    margin-left: auto;
}

.discount {
    right: 10px;
    left: auto;
}

.discount span {
    border-radius: 15px 15px 15px 0;
}

.product-card .product-thumb::before {
    right: -130%;
    left: auto;
}

.product-card:hover .product-thumb::before {
    right: 200%;
    left: auto;
}

.product-card .product-title::before {
    right: 0;
    left: auto;
}

.hover-effect-img::before {
    right: -100%;
    left: auto;
}

.card-row:hover .hover-effect-img::before {
    right: 200%;
    left: auto;
}

.widget-suggestion .slide-progress {
    left: 0;
    right: auto;
}

.widget-search input {
    padding-left: 7px;
    padding-right: 0;
}

.widget-search button.btn-search-widget {
    right: 0;
    left: auto;
    border-radius: 0 7px 7px 0;
}

.filter-product .card .card-header button i {
    right: 0;
    left: auto;
}

.filter-product .card .card-body .custom-control {
    padding-right: 0;
}

.filter-product .card .card-body .filter-color {
    margin-right: 6px;
    margin-left: auto;
    right: 0;
    left: auto;
}

.parent-switcher .ui-statusswitcher {
    right: 0;
    left: auto;
}

.parent-switcher .ui-statusswitcher-slider-toggle {
    left: 2px;
    right: auto;
}

.parent-switcher
    input[type='checkbox']:checked
    + .ui-statusswitcher-slider
    span {
    left: 21px;
    right: auto;
}

.parent-switcher .label-switcher {
    margin-left: 0;
}

.noUi-horizontal .noUi-handle {
    right: -0.375rem;
    left: auto;
}

html:not([dir='rtl']) .noUi-horizontal .noUi-handle {
    right: -0.375rem;
    left: auto;
}

.ui-range-slider-footer > .column:last-child {
    padding-left: 0.9375rem;
    padding-right: 0;
    text-align: left;
}

.ui-range-values .ui-range-label {
    margin-left: 0.125rem;
    margin-right: auto;
}

.header-cover {
    right: 0;
    left: 0;
}

.promotion-header-img {
    background: url(../img/theme/amazing.svg) 50% no-repeat;
}

.search-amazing-tab .ah-tab-item:first-child {
    margin-left: 40px;
    margin-right: auto;
}

ul.gallery-options {
    left: 20px;
    right: auto;
}

ul.gallery-options .tooltip-option {
    left: 60px;
    right: auto;
}

ul.gallery-options .tooltip-option::before {
    left: -10px;
    right: auto;
    border-width: 10px 10px 10px 0;
    border-color: transparent #6f6f6f transparent transparent;
}

.product-timeout .countdown-timer {
    direction: rtl;
}

.product-timeout .countdown-timer span[data-days]::before,
.product-timeout .countdown-timer span[data-hours]::before,
.product-timeout .countdown-timer span[data-minutes]::before,
.product-timeout .countdown-timer span[data-seconds]::before {
    right: 0;
    left: 0;
}

.product-gallery .badge {
    right: 1rem;
    left: auto;
    margin-right: 0;
}

.gallery-item::after {
    right: 50%;
    left: auto;
    margin-right: -22px;
    margin-left: auto;
}

.product-info .product-title .admin-edit-url {
    right: 0;
    left: auto;
}

.product-info .product-title h1::before {
    right: 0;
    left: auto;
    background: linear-gradient(to right rgba(255, 255, 255, 0) 100% white 81%);
}

.product-info .product-title h3::before {
    right: 0;
    left: auto;
    background: linear-gradient(to right rgba(255, 255, 255, 0) 100% white 81%);
}

.product-variant > span {
    padding-right: 15px;
    padding-left: 0;
    float: left;
}

.product-variants li {
    margin: 0 10px 0px 0px;
}

.ui-variant--color .ui-variant-shape {
    left: 8px;
    right: auto;
}

.ui-variant--color .ui-variant--check {
    padding-left: 37px;
    padding-right: 0;
}

.product-params ul li:before {
    margin-right: 5px;
    margin-left: auto;
    left: -14px;
    right: auto;
}

.product-params ul li span {
    margin-right: 5px;
    margin-left: auto;
}

.product-params .sum-more {
    text-align: left;
    left: 0;
    right: auto;
}

.btn-link-border:after {
    right: 0;
    left: 0;
}

.tabs-product-info .ah-tab .ah-tab-item i {
    margin-right: 5px;
    margin-left: auto;
}

.tabs-product-info .ah-tab-overflow-wrapper .ah-tab-item i {
    margin-right: 7px;
    margin-left: auto;
}

.accordion-product h5 button {
    padding-left: 50px;
    padding-right: 0;
}

.accordion-product h5 button::before {
    left: 0;
    right: auto;
    border-radius: 15px 0 15px 15px;
}

.params section {
    float: left;
}

.params .params-title {
    padding-left: 19px;
    padding-right: 0;
}

.params .params-title:before {
    left: 0;
    right: auto;
    border-width: 7px 7px 0 0;
    border-color: transparent #00bfd6 transparent transparent;
}

.params .params-list {
    float: left;
}

.params .params-list li {
    float: left;
    padding-left: 19px;
    padding-right: 0;
}

.params .params-list li .params-list-key {
    float: left;
}

.params .params-list li .params-list-value {
    float: right;
}

.content-expert-rating {
    padding: 5px 60px 33px 13px;
}

.content-expert-rating > li {
    margin-left: -7px;
    margin-right: -7px;
}

.content-expert-rating > li .cell {
    padding-left: 7px;
    padding-right: 7px;
}

.rating[data-rate-digit]:before {
    left: 100%;
    right: auto;
    margin-left: 11px;
    margin-right: auto;
}

.comments-summary-box,
.comments-summary-note {
    padding-left: 30px;
    padding-right: 30px;
}

.comments-area ol.comment-list {
    float: left;
}

.comments-area ol.comment-list li .comment-body {
    padding: 20px 20px 20px 40px;
}

.message-light--purchased {
    padding: 7px 12px 7px 40px;
}

.message-light--purchased:before {
    left: -20px;
    right: auto;
    border-radius: 50% 100% 100% 50% /;
}

.comments-user-shopping > li .color-cell {
    margin-left: -10px;
    margin-right: -10px;
}

.comments-user-shopping > li .color-cell .shopping-color-value {
    margin-right: 10px;
    margin-left: 10px;
}

.comments-user-shopping > li .seller-cell:before {
    margin-right: 7px;
    margin-left: auto;
}

.message-light--opinion-positive {
    padding: 7px 12px 7px 40px;
}

.message-light--opinion-positive:before {
    left: -20px;
    right: auto;
    border-radius: 50% 100% 100% 50% /;
}

.comments-area ol.comment-list li .fn {
    margin-right: 0;
    float: left;
}

.comments-area ol.comment-list li .says {
    margin-right: 15px;
    margin-left: 5px;
}

.comments-area ol.comment-list li .commentmetadata {
    float: right;
}

.comments-area
    ol.comment-list
    li
    .comment-body
    .reply
    a.comment-reply-link::before {
    right: 0;
    left: 0;
}

.comments-area ol.comment-list li .comment-body .icon-comment {
    left: -4px;
    right: auto;
    border-radius: 50% 100% 100% 50% /;
}

.content-expert-evaluation-negative,
.content-expert-evaluation-positive {
    padding-left: 10px;
    padding-right: 10px;
}

.content-expert-evaluation-negative ul li,
.content-expert-evaluation-positive ul li {
    padding-left: 17px;
    padding-right: 0;
}

.content-expert-evaluation-negative ul li:before,
.content-expert-evaluation-positive ul li:before {
    left: 0;
    right: auto;
}

.comments-area ol.comment-list .footer {
    right: 30px;
    left: auto;
}

.comments-likes {
    text-align: right;
}

.comments-area ol.comment-list li img.avatar {
    left: -40px;
    right: auto;
}

.comments-likes .btn-like {
    margin-left: 17px;
    margin-right: auto;
}

.btn-like[data-counter]:before {
    margin-right: 7px;
    margin-left: auto;
}

.comments-product-attributes-title {
    margin-left: -10px;
    margin-right: auto;
}

.comments-add-col--content input::placeholder,
.comments-add-col--content textarea::placeholder {
    padding-left: 7px;
    padding-right: 0;
}

.comments-add-col--content .cl-circle-title {
    float: left;
    margin: 8px 10px 0 0;
}

.product-offer-question-option {
    padding-left: 40px;
    padding-right: 0;
}

.comments-add-col--content .add-points {
    right: 6px;
    left: auto;
}

.form-comment-title--positive {
    padding-left: 25px;
    padding-right: 0;
}

.form-comment-title--negative {
    padding-left: 25px;
    padding-right: 0;
}

.form-comment-title--positive:before {
    left: 16px;
    right: auto;
}

.form-comment-title--negative:before {
    left: 16px;
    right: auto;
}

.ui-input--add-point .ui-input-field {
    padding-right: 44px;
    padding-left: 0;
}

.ui-input--add-point .ui-input-point {
    right: 0;
    left: auto;
}

.ui-input--add-point .ui-input-point:before {
    right: 7px;
    left: auto;
}

.ui-dynamic-label {
    padding: 8px 38px 8px 14px;
}

.ui-dynamic-label-remove {
    right: 0;
    left: auto;
}

.ui-dynamic-label-remove:before {
    right: 50%;
    left: auto;
}

.form-ui .form-row .input-ui.placeholder-right::placeholder {
    text-align: left;
    padding-left: 0.5rem !important;
    padding-right: 0;
}

.form-ui .form-row.with-icon i {
    right: 10px;
    left: auto;
}

.form-ui .custom-select-ui .nice-select {
    padding-left: 18px;
    padding-right: 30px;
}

.form-ui .custom-select-ui .nice-select .current {
    float: left;
}

.form-ui .custom-select-ui .nice-select:after {
    right: 12px;
    left: auto;
}

.form-ui .custom-select-ui .nice-select .option {
    padding-left: 18px;
    padding-right: 29px;
    text-align: left;
}

.form-ui .custom-file-label {
    left: 0;
    right: 0;
}

.form-ui .custom-file-label::after {
    right: 0;
    left: auto;
    border-left: inherit;
    border-right: 0;
    border-radius: 0 10px 10px 0;
}

.numbers-verify .lines-number-input {
    direction: rtl;
}

#countdown-verify-end span {
    float: right;
}

#countdown-verify-end a.btn-link-border {
    float: left;
}

.profile-sidebar .profile-menu-section .profile-menu ul li a i {
    float: left;
}

.user-menu-responsive .dropdown-menu {
    left: 0 !important;
    right: auto !important;
    text-align: left;
}

.profile-navbar .profile-navbar-btn-back {
    border-right: 1px solid #dfdfdf;
    border-left: none;
    margin-right: 15px;
    margin-left: auto;
    padding: 36px 16px 0 0;
}

.profile-navbar .profile-navbar-btn-back:before {
    left: 2px;
    right: auto;
}

.profile-section .list-favorites li button {
    right: 10px;
    left: auto;
}

.profile-section .profile-section-link {
    left: 0;
    right: 0;
}

.table-order-details td {
    border-right: 1px solid #ededed;
    border-left: none;
}

.table-order-details img.thumbnail-product {
    margin-right: 7px;
    margin-left: auto;
}

.table-order-details .details-product {
    text-align: left;
}

.table-order-details .details-product::before {
    right: 0;
    left: auto;
    background: linear-gradient(to right rgba(255, 255, 255, 0) 100% white 81%);
}

.table {
    text-align: left;
}

.profile-order-steps-item.is-active::before {
    right: 0;
    left: 0;
}

.profile-order-steps-item.is-active::after {
    left: 55%;
    right: auto;
}

.profile-order-steps.owl-carousel .owl-nav .owl-prev {
    left: -20px;
    right: auto;
}

.profile-order-steps.owl-carousel .owl-nav .owl-next {
    right: -20px;
    left: auto;
}

.cart-empty .cart-empty-links a {
    margin-right: 6px;
    margin-left: 6px;
}

.cart-empty .cart-empty-links a::after {
    right: -9px;
    left: auto;
    border-right: 1px solid #d5d5d5;
    border-left: none;
}

.comparison-table table td,
.comparison-table table th {
    border-right: 1px solid #e2e2e2;
    border-left: none;
}

.comparison-table table td:last-child,
.comparison-table table th:last-child {
    border-right: 0;
    border-left: none;
}

.comparison-table .remove-item {
    right: 10px;
    left: auto;
    padding-right: 0.0625rem;
    padding-left: 0;
}

.comparison-table .comparison-item .comparison-item-thumb {
    margin-left: auto;
    margin-right: auto;
}

.features-checkout-slider.owl-carousel .owl-nav .owl-prev {
    left: -20px;
    right: auto;
}

.features-checkout-slider.owl-carousel .owl-nav .owl-next {
    right: -20px;
    left: auto;
}

.tab-cart-page a:first-child {
    border-right: none !important;
    border-left: none;
    border-radius: 5px 0 0 0 !important;
}

.tab-cart-page a:last-child {
    border-radius: 0 5px 0 0 !important;
}

.tab-cart-page a span.count-cart {
    margin-left: 4px;
    margin-right: auto;
}

.checkout-header {
    padding: 12px 0 12px 24px;
}

.checkout-header:before {
    left: 0;
    right: auto;
}

.checkout-header .checkout-add-all-to-cart {
    margin-left: auto;
    margin-right: auto;
}

.checkout-header-title {
    margin-left: 8px;
    margin-right: auto;
}

.checkout-header-extra-info {
    margin-left: 8px;
    margin-right: auto;
}

.checkout-btn-remove {
    left: 14px;
    right: auto;
}

.checkout-variant-value {
    margin-left: 8px;
    margin-right: auto;
}

.checkout-variant--color .checkout-variant-value {
    padding-right: 25px;
    padding-left: 0;
}

.checkout-variant--color .checkout-variant-shape {
    right: 0;
    left: auto;
}

.checkout-save-for-later {
    text-align: left;
}

.checkout-summary-summary li span:last-child {
    margin-left: auto;
    margin-right: auto;
}

.checkout-summary-summary .help-sn:first-of-type {
    text-align: left;
    direction: ltr;
}

.checkout-summary-summary .help-sn:last-of-type {
    margin-left: 5px;
    margin-right: auto;
}

.help-arrow {
    left: 16px;
    right: auto;
}

.help-container.is-right .help-arrow {
    right: 14px;
    left: unset;
}

.help-text {
    text-align: left;
    direction: ltr;
}

.help-container {
    left: auto;
    right: 0;
}

.help-container.is-left {
    left: 0;
    right: auto;
}

.checkout-summary-devider div {
    border-left: none;
    border-right: none;
}

.checkout-feature-aside-item img {
    margin-right: 4px;
    margin-left: auto;
}

.shopping-page header.header-shopping ul.checkout-steps {
    float: left;
}

.shopping-page header.header-shopping ul.checkout-steps::after {
    left: 0;
    right: 0;
}

.shopping-page header.header-shopping .checkout-steps li {
    float: left;
}

.shopping-page header.header-shopping .checkout-steps li.active::before {
    left: -50%;
    right: auto;
}

.shopping-page header.header-shopping .checkout-steps li a::after {
    left: 0;
    right: 0;
}

.shopping-page .checkout-contact-content {
    padding: 20px 20px 22px 43px;
}

.shopping-page .checkout-contact-content:before {
    left: -1px;
    right: auto;
}

.shopping-page .checkout-contact-btn-edit {
    margin-left: 11px;
    margin-right: auto;
}

.shopping-page .checkout-contact-item-mobile {
    padding-right: 10px;
    padding-left: 0;
    border-right: 1px solid #e4e4e4;
    border-left: none;
}

.shopping-page .checkout-contact-item-message {
    margin-left: 10px;
    margin-right: auto;
}

.shopping-page .checkout-contact-badge {
    left: -20px;
    right: auto;
}

.checkout-address-row {
    margin-left: -30px;
    margin-right: -30px;
}

.checkout-address-col {
    padding-left: 5px;
    padding-right: 5px;
}

.checkout-address-btn-remove {
    margin-left: 10px;
    margin-right: auto;
}

.checkout-address-btn-submit {
    right: 0;
    left: 0;
}

.checkout-address-cancel {
    right: 15px;
    left: auto;
}

.shopping-page .checkout-contact-location {
    right: 20px;
    left: auto;
}

#remove-location .remodal-general-alert-button {
    float: right;
}

#remove-location .remodal-general-alert-button:first-of-type {
    margin-right: 20px;
    margin-left: auto;
}

.products-compact-slider.owl-carousel .owl-nav .owl-prev {
    left: -10px;
    right: auto;
}

.products-compact-slider.owl-carousel .owl-nav .owl-next {
    right: -10px;
    left: auto;
}

.shopping-page .checkout-tab-times {
    border-radius: 0 0 15px 15px;
}

.shopping-page .checkout-tab-times ul.nav a {
    margin-left: 0;
    border-right: 1px solid #e3e3e3 !important;
    border-left: none;
}

.shopping-page .checkout-tab-times ul.nav a.active {
    border-right: 1px solid #e3e3e3 !important;
    border-left: none;
}

.shopping-page .checkout-tab-times ul.nav a.active::before {
    left: 0;
    right: auto;
}

.radio-box {
    float: left;
}

.radio-box label {
    float: left;
}

.shopping-page .checkout-additional-options-checkbox-image {
    margin-right: 16px;
    margin-left: auto;
    float: left;
}

.radio-box .content-box {
    float: left;
}

.shopping-page .checkout-time-table-subtitle-bar > :not(:last-child) {
    padding-right: 10px;
    padding-left: 0;
    margin-right: 10px;
    margin-left: auto;
    border-right: 1px solid #e0e0e0;
    border-left: none;
}

.checkout-order-summary-header {
    padding: 9px 50px 9px 25px;
}

.checkout-order-summary-row {
    margin-left: -10px;
    margin-right: -10px;
}

.checkout-order-summary-col {
    padding-left: 10px;
    padding-right: 10px;
}

.checkout-order-summary-header button .icon-down {
    right: 20px;
    left: auto;
}

.checkout-orders-table tr td {
    border-right: 1px solid #f1f1f1;
    border-left: none;
}

.modal-header .modal-title i,
.send-info-title i {
    float: left;
    margin: 4px 4px 4px 0;
}

.modal .modal-header .close {
    right: 15px;
    left: auto;
}

.card-horizontal-product,
.card-horizontal-address {
    padding: 16px 30px 16px 16px;
}

.card-horizontal-address {
    border-radius: 0 0 25px 25px;
}

.card-horizontal-address:before {
    right: 0;
    left: 0;
    background: linear-gradient(90deg, #00bfd6 right 48px, #ff7e7e 0) repeat-x;
}

.card-horizontal-product .label-status-comment {
    right: 15px;
    left: auto;
}

.card-horizontal-product .card-horizontal-product-thumb {
    float: left;
    margin-right: 2%;
    margin-left: auto;
}

.card-horizontal-product .card-horizontal-product-content {
    float: left;
}

.card-horizontal-product
    .card-horizontal-product-content
    .card-horizontal-comment::before {
    left: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 100% rgba(255, 255, 255, 1) 100%
    );
}

.card-horizontal-product
    .card-horizontal-product-content
    .card-horizontal-comment::after {
    right: 0;
    left: auto;
}

.card-horizontal-product
    .card-horizontal-product-content
    .card-horizontal-product-buttons {
    text-align: right;
    right: 15px;
    left: auto;
}

.card-horizontal-product
    .card-horizontal-product-content
    .card-horizontal-product-buttons
    span.count-like
    i {
    margin-right: 7px;
    margin-left: auto;
}

.card-horizontal-product
    .card-horizontal-product-content
    .card-horizontal-product-buttons
    .remove-btn {
    margin-left: 16px;
    margin-right: auto;
    float: right;
}

.card-horizontal-product
    .card-horizontal-product-content
    .card-horizontal-product-buttons
    .label-card-horizontal-product {
    float: left;
}

.card-horizontal-address .card-horizontal-address-desc::before {
    left: 0;
    right: 0;
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 100% rgba(255, 255, 255, 1) 100%
    );
}

.card-horizontal-address
    .card-horizontal-address-data
    .card-horizontal-address-methods
    .card-horizontal-address-method {
    padding-left: 36px;
    padding-right: 0;
}

.card-horizontal-address
    .card-horizontal-address-data
    .card-horizontal-address-methods
    .card-horizontal-address-method
    i {
    left: 0;
    right: auto;
}

.card-horizontal-address
    .card-horizontal-address-data
    .card-horizontal-address-actions {
    right: 15px;
    left: auto;
}

.page-cover .form-ui form .form-row input {
    margin: 0 10px 0 0;
}

.page ul {
    padding-left: 30px;
    padding-right: 0;
}

footer.main-footer .back-to-top .icon {
    margin-right: 5px;
    margin-left: auto;
}

.title-breadcrumb-special .breadcrumb {
    padding-left: 0;
    padding-right: 0;
}

.title-breadcrumb-special .breadcrumb a {
    margin-right: 20px;
    margin-left: auto;
}

.title-breadcrumb-special .breadcrumb a::after {
    right: -17px;
    left: auto;
}

.title-breadcrumb-special .post-rating {
    float: left;
    direction: rtl;
    padding: 7px 10px 0 0;
}

.title-breadcrumb-special .post-rating .star-rate {
    float: right;
}

.title-breadcrumb-special .post-rating span {
    float: right;
    margin-left: 2px;
    margin-right: auto;
}

.content-desc .post-meta {
    padding-left: 24px;
    padding-right: 0;
}

.content-desc ul {
    margin-left: 0 !important;
    margin-right: auto;
}

.sidebar .content-sidebar .item .item-thumb {
    margin-right: 13px;
    float: left;
    margin-left: auto;
}

.sidebar .content-sidebar .item .item-thumb a {
    margin-right: 0;
    margin-left: auto;
}

.sidebar .category-list li a {
    padding-left: 20px;
    padding-right: 0;
}

.sidebar .category-list a::before {
    left: 0;
    right: auto;
}

.sidebar .category-list li ul {
    margin: 7px 0 7px 15px;
}

.post-card .post-thumbnail {
    padding: 0 10px 20px 10px;
    right: -10px;
    left: auto;
}

.post-card .post-thumbnail .post-tag {
    right: 10px;
    left: auto;
    padding: 3px 10px 1px 10px;
}

.post-card .post-title {
    text-align: left;
}

.post-card .post-title > span {
    right: 8px;
    left: auto;
}

@media (max-width: 576px) {
    .px-res-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .mx-res-0 {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .comments-area .comment-content {
        padding-left: 0;
        padding-right: 0;
    }
    .comments-area ol.comment-list li .comment-body {
        padding: 20px 30px 20px 30px;
    }
    .comments-area ol.comment-list .footer {
        left: 0;
        right: auto;
    }
    .comments-likes {
        text-align: left;
    }
    .comments-likes .btn-like {
        margin-left: -2px;
        margin-right: auto;
    }
    .comments-area ol li ol.children {
        padding-left: 0;
    }
    .info-page-cats .section-title h2.font-weight-bold {
        padding-left: 0;
    }
    .card-horizontal-product
        .card-horizontal-product-content
        .card-horizontal-product-buttons
        .label-card-horizontal-product {
        left: 10px;
        right: auto;
    }
    .search-card-res .product-card .product-card-body {
        padding-left: 10px;
        padding-right: 0;
    }
    .ltr-xs .row {
        direction: rtl;
    }
    .amazing-product img {
        float: left;
    }
}

footer.main-footer .widget-menu {
    background: right 0;
}

footer.main-footer .newsletter form .btn {
    right: 0;
    left: auto;
    border-top-left-radius: 0 !important;
    border-top-right-radius: none;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: none;
}

footer.main-footer .socials .footer-social a i {
    margin-right: 4px;
    margin-left: auto;
}

footer.mini-footer .main-container i.mdi {
    margin-right: 10px;
    margin-left: auto;
}

footer.mini-footer ul.mini-footer-menu li {
    margin-right: 15px;
    margin-left: auto;
}

#colorswitch-option button {
    border-radius: 15px 0 0 15px;
    right: 0;
    left: auto;
}

#colorswitch-option ul {
    right: -150px;
    left: auto;
    border-radius: 15px 0 0 15px;
}

#colorswitch-option ul.show {
    right: 0;
    left: auto;
}

#colorswitch-option ul li {
    float: right;
}

#colorswitch-option ul li.active span::before {
    right: 0;
    left: 0;
}

@media (max-width: 1444px) {
    .shopping-page .checkout-contact-content:before {
        left: 18px;
        right: auto;
    }
    .shopping-page .checkout-contact-badge {
        left: 0;
        right: auto;
    }
    .shopping-page a.float-left.border-bottom-dt {
        margin-right: 5px;
        margin-left: auto;
    }
    .shopping-page a.float-right.border-bottom-dt {
        margin-left: 5px;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    .checkout-content {
        padding-left: 10px;
        padding-right: 10px;
    }
    .profile-navbar {
        padding-left: 10px;
        padding-right: 0;
    }
    header.main-header,
    .widget-banner,
    .main-footer {
        padding-left: 10px;
        padding-right: 10px;
    }
    .main-slider {
        margin-left: 10px;
        margin-right: 10px;
    }
    .card-horizontal-product,
    .card-horizontal-address {
        padding-right: 16px;
        padding-left: 0;
    }
    .category-section-slider .owl-carousel .owl-nav .owl-next {
        right: 0;
        left: auto;
    }
    .category-section-slider .owl-carousel .owl-nav .owl-prev {
        left: 0;
        right: auto;
    }
    .product-carousel .owl-nav button.owl-next {
        right: 0;
        left: auto;
    }
    .product-carousel .owl-nav button.owl-prev {
        left: 0;
        right: auto;
    }
    .features-checkout-slider.owl-carousel .owl-nav .owl-next {
        right: 0;
        left: auto;
    }
    .features-checkout-slider.owl-carousel .owl-nav .owl-prev {
        left: 0;
        right: auto;
    }
    .message-light {
        margin-left: 10px;
        margin-right: 10px;
    }
    .comments-summary-box,
    .comments-summary-note {
        padding-left: 0;
        padding-right: 0;
    }
    .comments-add-col--content .form-ui form.px-5 {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .shopping-page a.float-left.border-bottom-dt {
        margin-right: 20px;
        margin-left: auto;
    }
    .shopping-page a.float-right.border-bottom-dt {
        margin-left: 20px;
        margin-right: auto;
    }
    .px-res-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .px-res-1 {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
    .px-res-2 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .checkout-address-headline {
        margin-left: -12px;
        margin-right: auto;
    }
    .checkout-address-cancel {
        right: 25px;
        left: auto;
    }
    .checkout-address-btn-remove {
        margin-left: 0;
    }
    .checkout-address-btn-edit,
    .checkout-address-btn-remove {
        float: right;
        margin-right: 7px;
        margin-left: auto;
    }
    .title-breadcrumb-special {
        padding-left: 10px;
        padding-right: 0;
    }
}

@media (max-width: 480px) {
    .title-wide h2 {
        padding-right: 15px;
        /* padding-left: 0; */
    }
    .content-expert-rating {
        padding: 5px 40px 33px 0px;
    }
    .px-res-0 {
        padding-left: 0;
        padding-right: 0;
    }
    .comments-area ol.comment-list li .comment-body .icon-comment {
        left: -7px;
        right: auto;
    }
    .cart-empty .cart-empty-links a::after {
        border-right: 0;
        border-left: none;
    }
    .page .filter-product .card .card-header button {
        padding-right: 40px;
        padding-left: 0;
    }
    .page-question-not-found .page-contact-option-text.mr-3 {
        margin-left: 5px !important;
        margin-right: auto;
    }
    .card-horizontal-address-actions {
        text-align: right;
        right: 0 !important;
        left: auto;
    }
    .profile-section .list-favorites li button {
        padding-right: 22px;
        padding-left: 0;
    }
    .card-horizontal-product
        .card-horizontal-product-content
        .card-horizontal-comment::after {
        left: -60px;
        right: auto;
    }
    .search-amazing-tab .ah-tab-item:first-child {
        margin-left: 15px;
        margin-right: auto;
    }
    .shopping-page .checkout-contact-location {
        right: 4px;
        left: auto;
        float: right;
    }
}

header.main-header
    .main-menu
    .list
    > .list-item-has-children.mega-menu
    > .sub-menu
    > .list-item-has-children
    .list-item-has-children::before {
    right: 5px;
    left: auto;
}

header.main-header
    .main-menu
    .list
    > .list-item-has-children.mega-menu
    > .sub-menu
    > .list-item-has-children
    .list-item-has-children::hover
    .sub-menu {
    left: 100%;
    right: auto;
}

.cart-product-image {
    margin-left: 46px;
    margin-right: auto;
}

.comment-replay-to a {
    margin-left: 8px;
    margin-right: auto;
}

.product-warranty-span {
    padding-left: 10px !important;
    padding-right: 0;
}

.h_iframe-aparat_embed_frame iframe {
    right: 0;
    left: auto;
}

.f-menu {
    border-right: 1px solid #cdcdcd;
    border-left: none;
    float: left;
}

.f-menu > li {
    margin-right: -4px;
    margin-left: auto;
}

.f-menu > li > .megadrop {
    left: 190px;
    right: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: none;
}

.f-menu h3 .category-title-l2::after {
    right: -3px;
    left: auto;
}

.f-menu ul li a:hover {
    padding-left: 17px !important;
    padding-right: 0;
}

.megadrop.row .h5 {
    left: 0;
    right: auto;
}

.megadrop.row .h5::after {
    right: -3px;
    left: auto;
}

.megadrop.row .h6 {
    left: 0;
    right: auto;
}

.megadrop.row .h6:hover {
    left: 4px;
    right: auto;
}

.megadrop.row .h5:hover {
    left: 4px;
    right: auto;
}

header.main-header .main-menu .list .list-item-has-children:hover > .sub-menu {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: none;
}

.trasparent-background {
    left: 0;
    right: 0;
}

.inbox_people {
    background: #f8f8f8 none repeat scroll 0% right;
    float: left;
    border-right: 1px solid #c4c4c4;
    border-left: none;
}

.recent_heading {
    float: left;
}

.srch_bar {
    text-align: right;
}

.headind_srch {
    padding: 10px 29px 10px 20px;
}

.srch_bar input {
    border-width: 0 0 1px 0;
    padding: 2px 0 4px 6px;
}

.srch_bar .input-group-addon button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0% right;
}

.srch_bar .input-group-addon {
    margin: 0 0 0 -27px;
}

.chat_ib h5 {
    margin: 0 0 8px 0;
}

.chat_ib h5 span {
    float: right;
}

.chat_img {
    float: left;
}

.chat_ib {
    float: left;
    padding: 0 0 0 15px;
}

.incoming_msg_img {
    float: right;
}

.received_msg {
    padding: 0 0 0 10px;
}

.received_withd_msg p {
    background: #ebebeb none repeat scroll 0% right;
    padding: 5px 10px 5px 12px;
}

.received_withd_msg {
    float: right;
}

.mesgs {
    padding: 30px 15px 15px 15px;
}

.sent_msg p {
    background: #00bfd6 none repeat scroll 0% right;
    padding: 5px 10px 5px 12px;
}

.msg_send_btn {
    background: #05728f none repeat scroll 0% right;
    right: 0;
    left: auto;
}

.activation-code {
    direction: rtl;
}

.activation-code::before {
    left: 0;
    right: 0;
}

.activation-code > span {
    left: 0;
    right: auto;
}

.activation-code .activation-code-inputs input {
    margin-left: 8px;
    margin-right: auto;
}

.activation-code .activation-code-inputs input:last-child {
    margin-left: 0;
}

.ltr {
    direction: rtl;
}

.shop-list .inc {
    border-right: 1px solid #c8c8d6;
    border-left: none;
    border-top-left-radius: 5px;
    border-top-right-radius: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: none;
}

.shop-list .dec {
    border-left: 1px solid #c8c8d6;
    border-right: none;
    border-top-right-radius: 5px;
    border-top-left-radius: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: none;
}

.index-main-slider .sidebar {
    padding-left: 0;
    padding-right: 15px;
}

.index-main-slider.flex-row-reverse .sidebar {
    padding-left: 15px;
    padding-right: 0;
}

.chart-area .chart-tooltip-container {
    direction: ltr;
}

.chart-area .chart-tooltip-prices .chart-tooltip-discount {
    margin-left: 9px;
    margin-right: auto;
}

.product-card .product-head .btn-border {
    border-radius: 15px 15px 15px 0 !important;
}

.fild_products {
    border-radius: 15px 15px 15px 0;
    margin-left: 5px;
    margin-right: auto;
}

.product-card-body .cart {
    right: -84px;
    left: auto;
    border-radius: 12px 0 0 0px;
}

.product-card-body .cart:hover {
    right: 0px;
    left: auto;
}

.Language .dropdown-item {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: unset;
}
